*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/activitiesmodule/
/venuesmodule/build
.idea/misc.xml
volunteer-module/build/
app/common_main_sc/release/
app/common_main_sc/debug/
app/common_main_sc/release/
app/common_main_xj/debug/
yshare/
.idea/
app/common_main_xj/release/
/.idea/codeStyles/
/bcprov-jdk15on-1.59/build/.transforms/
/com.heytap.msp-push-2.1.0/build
