<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.nereo.multi_image_selector">

    <application android:allowBackup="true">
        <activity android:name=".BigImgActivity"/>
        <activity android:name=".video.PlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />
        <activity android:name=".MultiVideoSelectorActivity"/>
        <activity android:name=".MultiImageSelectorActivity"/>
    </application>

</manifest>
